<div class="index-wrapper">

  <% if logged_in? %>
<div class="index-header">
  <div class="welcome-message">
    <p>Welcome back, <%= current_user["username"] %>!</p>
    <p><img src="<%= current_user["avatar"] %>" height="28px" width="28px"></p>
  </div>
</div>

<nav class="logged-in-nav">
  <a href="/users/<%= current_user["id"] %>/posts">Your posts</a>
  <a href="/users/<%= current_user["id"] %>/posts/new">New post</a>
  <form action="/logout" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>Logout</button>
  </form>
</nav>
<% else %>
<nav class="logged-out-nav">
  <a href="/about">About</a>
  <a href="/login">Login</a>
  <a href="/users/new">Sign up</a>
</nav>
<% end %>

<main>
<% posts.each do |post| %>
  <div class="post-entry">
    <div class="entry-header">
      <img src="<%= find_one_user_by_id(post["user_id"])["avatar"] %>" width="24px" height="24px" alt="user-avatar">
      <p><%= find_one_user_by_id(post["user_id"])["username"] %></p>
      <p><%= post["date_created"] %></p>
    </div>
    <div class="entry-content">
      <p><%= post["content"] %></p>
    </div>    
    <div class="entry-interact">
      <% if logged_in? %>
        <% number_of_votes = votes.select { |vote| vote["post_id"] == post["id"] }%>
        <form action="/votes/<%= post["id"] %>/new" method="post">
          <input type="hidden" name="upvote" value="true">
          <button><img src="/images/heart_icon.png" height="32px" width="32px"></button>
          <p><%= number_of_votes.count %></p>
        </form>
        <form action="/posts/<%= post["id"] %>/edit" method="post">
          <input type="hidden" name="downvote" value="1">
          <button>Neutral</button>
        </form>
      <% end %>
    </div>
  </div>
<% end %>
<main>

</div>



